@import 'sass/_normalize.scss';
* {box-sizing: border-box;}

$brand-color: #225291;
$brand-color-on-dark: #aabce8;

$secondary-color: #f0f3f6;

$font-color: #25282b;
$font-color-secondary: #646e77;
$background-color: #fefeff;

$font-color-on-dark: $background-color;
$background-color-dark: $font-color;

$border-color: $font-color;

$logo-break: 920px;

#vertical-flow {
	margin-top: 0;

	&:last-child {
		margin-bottom: 0;
	}

	&:not(:last-child) {
		margin-bottom: 16px;
	}
}

@import 'sass/_typography.scss';
@import 'sass/_cards.scss';
@import 'sass/_logos.scss';
@import 'sass/_layout.scss';
