$logo-width: 80px;
$logo-small-width: 40px;
$logo-margin: 16px;

.logos {
	display: grid;
	padding: 0;
	grid-template-columns: repeat(4, $logo-width);
	grid-gap: $logo-margin;



	&.logos--right {
		justify-content: right;

		@media (max-width: $logo-break) {
			display: none;
		}
	}

	&.logos--small {
		padding-top: 5px;
		grid-template-columns: repeat(3, $logo-small-width);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fillIn {
	0% {}

	100% {
		fill: $background-color;
	}
}

.logo {
	list-style: none;
	font-size: 0;
	position: relative;

	&.logo--link {
		@extend .link;

		&:hover path {
			fill: $brand-color-on-dark;
		}
	}

	&.logo--animated {
		opacity: 0;
		animation: fadeIn 1s ease;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;

		@for $i from 1 through 16 {
			&:nth-of-type(#{$i}) {
				animation-delay: $i * 0.08s;
			}
		}
	}

	&:not(:hover):not(.logo--color) path {
		fill: $background-color;
		transition: fill 1s ease;
	}

	.logo-color path,
	&:hover path {
		transition: fill 0.1s ease;
	}
}
