h1, h2, h3, h4, h5, h6,
blockquote,
ul,
ol,
dl,
p {
  @extend #vertical-flow;
}

.link:link, .link:visited {
	text-decoration: none;
	color: $brand-color;
}

.link:focus {

}

.link:hover {
	text-decoration: underline;
}

.link:active {

}