---
ogtype: website
---
<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% seo "" %}

	<link rel="stylesheet" href="/css/main.css" />
</head>

<body>
	<header>
		<div class="wrapper wrapper--columns">
			<div class="wrapper-column">
				<h1>{{ seo.title }}</h1>
				<p>{{ seo.excerpt }}</p>

				<ul class="logos logos--small">
					{% for logo in collections['social-logo'] %}
						<li class="logo logo--link"><a href="{{ logo.data.url }}">{{ logo.data.title }}{{ logo.templateContent | safe }}</a></li>
					{% endfor %}
				</ul>
			</div>

			<div class="wrapper-column">
				<ul class="logos logos--right">
					{%- for logo in collections.logo -%}
						<li class="logo logo--animated">{{ logo.templateContent | safe }}</li>
					{%- endfor -%}
				</ul>
			</div>

			<script>{% include 'logo-blinker.js' %}</script>
		</div>

	</header>

	<main>
		{{ content | safe }}
	</main>

	<footer>
		<div class="wrapper">
			&copy; {{ build.date.getFullYear() }} Ross Phillips
		</div>
	</footer>
</body>
</html>
